<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom='http://www.w3.org/2005/Atom' xmlns:media='http://search.yahoo.com/mrss/' xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:gd='http://schemas.google.com/g/2005' xmlns:yt='http://gdata.youtube.com/schemas/2007' version='2.0'>
  <channel>
    <atom:id>tag:youtube.com,2008:playlist: <%= playlist_id %></atom:id>
    <lastBuildDate><%= "Wed, 11 Jun 2014 03:23:55 +0000" %></lastBuildDate>
    <title>YTCast RSS</title>
    <description>YTCast RSS Description</description>
    <image>
      <url>http://www.gstatic.com/youtube/img/logo.png</url>
      <title>YTCast RSS</title>
      <link>http://www.youtube.com/playlist?list=PL<%= playlist_id %></link>
    </image>
    <link>http://www.youtube.com/playlist?list=PL<%= playlist_id %></link>
    <atom:link rel='self' href='http://gdata.youtube.com/feeds/api/playlists/<%= playlist_id %>?alt=rss&amp;start-index=1&amp;max-results=25&amp;orderby=position&amp;v=2'/>
    <managingEditor>
      <yt:userId><%= "tEIElie9FC-5YQP-Ty3POw" %></yt:userId>
      Bruno Assis
    </managingEditor>
    <generator>YouTube data API</generator>
    <openSearch:totalResults><%= "8" %></openSearch:totalResults>
    <openSearch:startIndex><%= "1" %></openSearch:startIndex>
    <openSearch:itemsPerPage><%= "25" %></openSearch:itemsPerPage>
    <yt:playlistId>PL<%= playlist_id %></yt:playlistId>

    <% feed.entries.first(2).each do |entry| %>
      <%= erb :feed_item, locals: {item: entry, playlist_id: playlist_id} %>
    <% end %>
  </channel>
</rss>