<item>
    <guid isPermaLink='false'>tag:youtube.com,2008:playlist:<%= playlist_id %><%= ":PL45WUF-nVFtoEF9rgW8VHZCXZrmWUUCVfL6ux2GLGUUo" %></guid>
    <pubDate><%= "Sun, 08 Jun 2014 21:37:54 +0000" %></pubDate>
    <atom:updated><%= "1970-01-01T00:00:00.000Z" %></atom:updated>
    <title><%= item.title.content %></title>
    <description><%= item.content.content %></description>
    <link><%= item.links.first.href %></link>
    <enclosure url="<%= item.video_url %>" length="35" type="video/mp4"/>
    <author>Bruno Assis</author>
    <yt:accessControl action='comment' permission='allowed'/>
    <yt:accessControl action='commentVote' permission='allowed'/>
    <yt:accessControl action='videoRespond' permission='moderated'/>
    <yt:accessControl action='rate' permission='allowed'/>
    <yt:accessControl action='embed' permission='allowed'/>
    <yt:accessControl action='list' permission='allowed'/>
    <yt:accessControl action='autoPlay' permission='allowed'/>
    <yt:accessControl action='syndicate' permission='allowed'/>
    <gd:comments>
      <gd:feedLink rel='http://gdata.youtube.com/schemas/2007#comments' href='<%= "http://gdata.youtube.com/feeds/api/videos/UU_ufhW2PgM/comments?v=2" %>' countHint='2'/>
    </gd:comments>
    <gd:rating average='4.6666665' max='5' min='1' numRaters='12' rel='http://schemas.google.com/g/2005#overall'/>
    <yt:statistics favoriteCount='0' viewCount='938'/>
    <yt:rating numDislikes='1' numLikes='11'/>
    <yt:position>1</yt:position>
</item>